@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@300;500;700;900&family=Paprika&family=Poppins:wght@300;400;500;700;900&display=swap');

:root{
    /*bg colors*/
    --pink: #FC0B56;
    --black: #1B1A1A;
    --purple: #8948EE;
    --white: #FFFFFF;
    --gray: #272727;
    --bg-gray: #252627;
    --lightgray: #b6b5b5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
    text-decoration: none;
    list-style-type: none;
}
body{
    background: var(--bg-gray);
    color: var(--white);
}
header {
    background: var(--black);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    padding: 0 80px 0 80px;
    color: var(--white);
    font-size: 20px;
}
a{
    color: var(--white);
}
span{
    color: var(--pink);
    font-weight: 900;
}
.logo-playdev{
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.logo-playdev p{
    font-size: 23px;
    margin-top: 8px;
}
.logo-playdev img{
    width: 150px;
    margin-top: 8px;
}
.menu-label{
    cursor: pointer;
    display: none;
}
#menu-toggle{
    display: none;
  }
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    width: 500px;
}
.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}
.navbar-list span{
    font-size: 20px;
}
.redessociales{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background:linear-gradient(40deg, var(--pink), var(--purple) );
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-left: 4rem;
}
.redessociales img{
    width: 24px;
    margin-top: 0.2rem;
}
main{
    background: var(--bg-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--white);
}
#hero{
    margin-top: 65px;
    padding: 70px 0;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-gray);
    width: 100%;
    gap: 100px;
}
.hero-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}
.hero-info h1{
    font-size: 50px;
    width: 80%;
    min-width: 280px;
    font-weight: 800;
    color: var(--white);
}
.hero-info h2{
    font-size: 40px;
    width: 80%;
    font-weight: 400;
}
.hero-info span{
    font-family: paprika;
}
.hero-info h3{
    font-size: 20px;
    color: var(--lightgray);
    font-weight: normal;
}
.info-btn{
    width: 150px;
    height: 40px;
    background: var(--purple);
    border-radius: 10px;
    border-style: none;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    transition: 0.4s ease-out;  
}
button:hover{
    background: #5e32a5;
    transition: 0.4s ease-in;
}
.hero-card{
    width: 300px;
    height: 335px;
    background:linear-gradient(70deg, var(--pink), var(--purple) );
    padding: 30px;
    border-radius: 15px;
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#about h2{
    font-size: 40px;
}
hr{
    width: 250px;
    height: 2px;
    border-color: #FC0B56;
    background: #FC0B56;
}
#about p{
    font-size: 20px;
    padding: 3rem 15rem 5rem 15rem;
}
#info{
    padding: 20px 0;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--bg-gray);
    width: 100%;
}
#info hr{
    width: 600px;
    height: 2px;
    border-color: #FC0B56;
    background: #FC0B56;
}
#info h2{
    font-size: 45px;
}
#info h3{
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.info-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 3rem;
}
.info-card{
    background:linear-gradient(30deg, var(--pink), var(--purple));
    width: 330px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
} 
.info-card img{
    width: 20%;
    padding: 5px 0 20px 0;
}
.info-card h3{
    font-size: 30px;
}
.info-card p{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 0 18px;
}
#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    gap: 10px;
}
.contacto-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
#contacto h2{
    font-size: 45px;
    padding: 70px 0 0 0;
    text-align: center;
}
#contacto hr{
    width: 350px;
    height: 2px;
    border-color: #FC0B56;
    background: #FC0B56;
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 5rem;
}
form .texto{
    font-size: 20px;
    font-weight: 500;
}
form #nombre{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background: #ded4ee;
    border-style: none;
}
form #email{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background: #ded4ee;
    border-style: none;
}
form #mensaje{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    background: #ded4ee;
    border-style: none;
}
input{
    padding: 8px;
}
input:focus{
    outline: solid var(--purple);
    transition: 0.2s;
}
input:hover{
    outline: solid var(--purple);
    transition: 0.2s;
}
textarea:focus{
    outline: solid var(--purple);
    transition: 0.2s;
}
textarea:hover{
    outline: solid var(--purple);
    transition: 0.2s;
}
form .enviar{
    background: var(--purple);
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.4s;
}
form .enviar:hover{
    background: #5e32a5;
    transition: 0.4s;
}
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 250px;
}
.encuentranos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    gap: 20px;
    margin-bottom: 9rem;
}
.encuentranos h3{
    font-size: 20px;
    font-weight: 500;
}
.encuentranos .mapa{
    width: 320px;
    height: 250px;
}
footer{
    background: var(--black);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 180px;
    padding: 3rem 0 8rem 0;
    width: 100%;
    height: 60px;
    color: var(--white);
}
footer .text-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer h2{
    font-size: 18px;
    font-weight: 300;
}
footer h3{
    font-size: 18px;
    font-weight: 100;
}
.redes-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background:linear-gradient(40deg, var(--pink), var(--purple));
    width: 110px;
    height: 45px;
    border-radius: 20px;
}
.redes-footer img{
    width: 25px;
}

/*Login*/

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-top: 7rem;
}
.login h1{
    font-size: 48px;
    font-weight: 800;
}
.login hr{
    width: 380px;
}
.formulario-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    gap: 30px;
    width: 400px;
    height: 400px;
    background:linear-gradient(40deg, var(--pink), var(--purple));
    border: 2px solid #252627;
    border-radius: 20px;
    padding: 16px 16px 32px 80px;
    margin: 40px 8px 40px 8px;
    box-shadow: 4px 4px 12px 0 rgb(255, 152, 216);
}
.email-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
}
#email-login{
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 25px;
}
.contrase単a-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
}
#contrase単a-login{
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 25px;
}
.entrar{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    background: #dd5bfd;
    margin-top: 30px;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/*Registro*/

.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-top: 5rem;
}
.register hr{
    width: 320px;
}
.formulario-register{
    background:linear-gradient(40deg, var(--pink), var(--purple));
    border-radius: 10px;
    padding: 3rem 0 3rem 6rem;
    width: 480px;
    height: 500px;
    border: 2px solid #252627;
    border-radius: 20px;
    padding: 40px 0 30px 120px;
    margin: 40px 8px 40px 8px;
    box-shadow: 4px 4px 12px 0 rgb(255, 152, 216);
}
.register-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    margin: 1rem 0 2rem 0;
    font-size: 18px;
    font-weight: 500;
}
.register h1{
    font-size: 48px;
    font-weight: 800;
}
#name-register{
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 25px;
}
#email-register{
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 25px;
}
#contrase単a-register{
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 25px;
}
#confirmarcontrase単a-register{
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 25px;
}
.ingresar{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    background: #dd5bfd;
    margin-top: 30px;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}